/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO */
.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
}

/* LOGO */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
}

.logo img {
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* MENU NO LADO DIREITO */
nav {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 20;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

/* LINHA DE HOVER */
nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
  color: white;
}

/* TEXTO */
.texto h1 {
  font-size: 3rem;
  text-shadow: 3px 3px 8px black;
}

/* BOTÕES SEPARADOS */
.grupo-botoes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.botoes {
  padding: 12px 28px;
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;            /* LETRA PRETA COMO PEDIU */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
}

/* HOVER DOS BOTÕES */
.botoes:hover {
  background-color: grey;
  color:w;
}

/* IMAGEM DA DIREITA (CASO USE NO FUTURO) */
.imagem img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}